#Coach {
    .img-wrapper::after {
        padding-top: 30%;
    }
    .search-bar-div {
        margin: 1em 0;
        display: flex;
        input[type="submit"] {
            width: 120px;
            border: 1px solid var(--green);
            font-size: 16px;
            text-transform: uppercase;
        }        
        .filter-btn {
            background: var(--yellow);
            border-color: var(--yellow) !important;
            color: #fff;
        }
        form {
            flex-direction: row;
            padding: 0;
            margin-right: .5em;
            z-index: unset;
            input {
                margin: 0
            }
        }
    }
    .search-index-section {
        p {
            display: flex;
            align-items: center; 
            * {
                margin: 0 .5em;
            }           
        }
    }
}