#home {
    section {
        margin-bottom: 1em;
    }
    .cards-div-3 {
        display: flex;
        justify-content: space-between;
        .card {
            width: 32%;
            text-align: center;
            background: #fff;
            padding-bottom: 1.5em;
            p {
                color: grey;
            }
            // .info-div {
            //     margin: 0 2.5em;
            // }
            .link {
                border: 1px solid var(--green);
                width: 75%;
                margin: 0 auto;
                padding: .5em 1em;
                color: var(--green);
            }
        }
    }
}