
nav {
    background: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 1.5em;
    width: 100%;
    top: 0;
    z-index: 9;
    .menu {
        display: flex;
    }
    * {
        color: #fff;
        text-transform: capitalize;
        // fill: #fff;
    }
    .navlink-div {
        display: flex;
        margin-left: auto;
        a, div {
            display: flex;
            align-items: center;
            padding: 1em;
            &:hover {
                color: var(--yellow);
                * {
                    fill: var(--yellow);
                }
            }
            align-self: flex-end;
        }
    }
    .login-div, .logo-div, .myAccount-div {
        display: flex;
        align-items: center;
    }
    .logo-div {
        flex-grow: 1;
    }
    .login-div {
        div {
            padding: 0 .5em;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 60px;
            &:hover {
                background: var(--dark-green)
            }
            p {
                cursor: pointer;
            }
        }

    }
    svg {
        margin-right: .5em;
    }
    .hamburger {
        margin: 0;
        padding: .15em;
        display: none;
    }
    .pointer {
        cursor: pointer;
    }
    .myAccount-div {

    }
  }



.menu
{
//   position: absolute;
//   width: 300px;
//   margin: -100px 0 0 -50px;
//   padding: 50px;
//   padding-top: 125px;
  
//   background: #ededed;
//   list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
//   transform-origin: 0% 0%;
//   transform: translate(-100%, 0);
  
//   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/*
 * And let's slide it in from the left
 */
// .hamburger input:checked ~ ul
// {
//   transform: none;
// }





  @media (max-width: 1250px) {
    .web-wrapper {
        margin-top: 52px;
        // width: 95%;
    }
    nav {
        // position: fixed;
        // padding: 1em;
        .menu {
            display: none;
            flex-direction: column-reverse;
            /* background: navy; */
            width: 100%;
            // padding: 9%;
            justify-content: flex-end;
            padding-top: 1em;
        }
        .login-div {
            display: grid;
            grid-template-columns: 2fr 1fr;
            padding: 1em;
            div {
                padding: 0;
            }
            div:first-child {
                flex-direction: row;
                justify-content: space-around;
            }
            b {
                display: none;
            }
        }
      .close {
        display: flex;
        align-self: flex-end;
        width: 50px;
        height: 50px;
        // border: none;
        &:before, &:after {
            background-color: #fff;
            left: 50%;
        }
      }
      .navlink-div {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(90px, 1fr) );
        margin-left: unset;
      }
        .login-div, .navlink-div {
            padding: 5% 9%;
        }
        .login-div div, .navlink-div a, .myAccount-div a {
            // border: 1px solid olive;
            display: flex;
            flex-direction: column;
            text-align: center;
            height: 100%;
            align-items: center;
        }
        svg {
            font-size: 1.5em;
            margin-bottom: .15em;
            margin-right: 0;
            background: var(--dark-green);
            padding: .5em;
            border-radius: 50px;
            box-sizing: unset;
        }
        .pointer {
            flex-direction: column !important;
        }
    }
    .hamburger {
        display: block !important;
        border-radius: unset;
        background: transparent;
    }
    nav button {
        display: none;
    }
  }
  @media (max-width: 900px) {
      .cards-div-3, .cards-div-4 {
        width: 95%;
        margin: 0 auto;
      }
      nav .menu {
            min-height: 100vh;
            align-items: unset;
      }
  }
  @media (max-width: 520px) {
    nav .login-div, nav .navlink-div {
        padding: 0;
    }
  }