:root {
  --red: #b81d13;
  --yellow: #efb700;
  --green: #008450;
  --dark-green: #006b41;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --swiper-theme-color: lightgrey !important;
}

$red: #b81d13;
$yellow: #efb700;
$green: #008450;

body, html, #root, .App {
  margin: 0;
  padding: 0;
  // min-width: 425px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  // background-color: #f5fafd;
  background-color: #fbfbfb;
}

* {
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img[alt*="logo"] {
  width: 50px;
  height: 50px;
}
.logo-div {
  display: flex;
  align-items: center;
}

.web-wrapper {
  // width: 90%;
  // min-width: 425px;
  max-width: 900px;
  margin: 0 auto;
  // border: 1px solid navy;
  margin-top: 70px;
  // height: 100vh;
}

// classList
.active-link {
  color: var(--yellow);
  * {
    fill: var(--yellow)
  }
}

.block {
  display: block;
}

.img-wrapper{
  // border: 1px solid olive;
  position: relative;
  overflow: hidden;
      &::after {
          content: "";
          display: block;
          padding-top: 50%;
      }
      img {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
}

footer {
  text-align: center;
  .icon {
    display: none;
  }
  .web-wrapper {
    margin: 1.5em auto 2.5em auto;
    display: flex;
    justify-content: space-evenly;
    * {
      margin: .5em 0;
      text-transform: capitalize;
      color: grey;
    }
  }
  span {
    color: grey;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    a {
      color: grey;
    }    
  }
  li {
    display: flex;
    flex-direction: column;
    margin: auto;

  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

  // :lang(en) {
  //     font-size: 85%;
  //     font-family: arial, verdana, sans-serif;
  //   }
  
  // :lang(zh) {
  //   font-size: 125%;
  //   font-family: helvetica, verdana, sans-serif;
  // }

  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #fff;
  }