:root {
  --red: #b81d13;
  --yellow: #efb700;
  --green: #008450;
  --dark-green: #006b41;
}

$red: #b81d13;
$yellow: #efb700;
$green: #008450;

body, html {
  margin: 0;
  padding: 0;
  background-color: #f5fafd;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.web-wrapper {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  // border: 1px solid navy;
  margin-top: 90px;
  height: 100vh;
}

// classList
.active-link {
  color: var(--yellow);
  * {
    fill: var(--yellow)
  }
}

.img-wrapper{
  // border: 1px solid olive;
  position: relative;
  overflow: hidden;
      &::after {
          content: "";
          display: block;
          padding-top: 50%;
      }
      img {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

  // :lang(en) {
  //     font-size: 85%;
  //     font-family: arial, verdana, sans-serif;
  //   }
  
  // :lang(zh) {
  //   font-size: 125%;
  //   font-family: helvetica, verdana, sans-serif;
  // }